body{
    margin: 0;
    height: 100%;
    background-color: #E5E5E5;
    background-image: url(/imgs/Pikachu.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50px 90px; 
}

a {
    color: gray;
    text-decoration: none ;
  }

a:hover {
     color: #FFF;
     text-decoration: none ;
  }